/* mobile first */
:root {
  margin:0;
  padding: 0;
  font-family: "Courier New";
  font-size: 1.2rem;
  font-weight: 600;
  --primary-border-radius: 5px;
  --primary-vertical-margin: 20px;
  background-image: url('img/davisco-5E5N49RWtbA-unsplash.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
  margin: 0;
  padding: 0;
}
#main {
  display: grid;
  grid-auto-columns: 99%;
  grid-auto-rows: repeat(8, auto);
  margin: 10px;
  padding: 5px;
  background: linear-gradient(
    75deg,
    rgba(360, 360, 360, 0.9),
    rgba(360, 360, 360, 0.7),
    rgba(360, 360, 360, 0.2)
    );
  border-radius: 8px;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #fff,
    #fff,
    orange,
    #fff,
    #fff
    );

  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #fff,
    #00394c,
    #00394c,
    #fff
    );
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
  font-family: cursive;
}
label {
  display: block;
  margin: 10px 0;
}
form {
  margin: auto;
  width: 99%;
}
#title {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0 auto;
}
#description {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 1.01rem;
  color: #2F4F4F;
}
input, select, textarea {
  font-size: 1rem;
  text-transform: uppercase;
}
input[type='email'] {
  text-transform: lowercase;
}
textarea {
  width: 100%;
  border-radius: 3px;
  outline-color: #fff;
  padding-left: 5px;
}
button[type="submit"] {
  grid-area: submit;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--primary-border-radius);
  width: 100%;
  margin: auto;
  height: 7vh;
  background-color: #00f;
  color: #fff;
  font-size: 1.25rem;
  border-color: #00f;
}
button[type="submit"]:hover {
  background-color: #fff;
  color: #00f;
  outline-color: #fff;
}
input, select {
  height: 6.5vh;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--primary-border-radius);
  border-color: #fff;
  outline-color: #fff;
}
option {
  outline-style: none;
}
input {
  text-align: center;
}
input[type="text"], input[type="email"] {
  width: 99%;
}
input[type="number"] {
  width: 20%;
}
input[type="checkbox"], input[type="radio"] {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  margin: 10px 15px 10px auto;
}
input[type='radio']:after {
     width: 15px;
     height: 15px;
     border-radius: 15px;
     top: -2px;
     left: -1px;
     position: relative;
     background-color: #fff;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
 }
input[type='radio']:hover:after {
     content: '';
     border: 2px outset #00f;
 }
input[type='radio']:checked:after {
   width: 15px;
   height: 15px;
   border-radius: 15px;
   top: -2px;
   left: -1px;
   position: relative;
   background: linear-gradient(
     45deg,
     #fff,
     #fff,
     #00f,
     #00f,
     #00f
     );
   content: '';
   display: inline-block;
   visibility: visible;
   border: 2px solid white;
}
input[type='checkbox'] {
  position: relative;
}
input[type='checkbox']:checked:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  height: 4.5px;
  width: 10px;
  background-color: #00f;
  transform: rotate(43deg);
}
input[type='checkbox']:checked:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 2px;
  height: 5px;
  width: 22px;
  background: linear-gradient(
    90deg,
    #DEDEDE,
    #00f,
    #00f,
    #00f,
    #00f
    );
  transform: rotate(-54deg);
}
select {
  width: 35vmin;
  margin-left: 40vmin;
  padding-left: 5px;
}
#dropdown {
  float: right;
}
.item {
  margin-bottom: 20px;
  margin-top: 20px;
}
.circle {
  margin: 30px auto;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  position: relative;
  border-color: blue;
  background-color: #00f;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}
.circle::before{
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -60px;
  width: 60px;
  height: 2px;
  background-color: blue;
}
.circle::after{
  content: "";
  position: absolute;
  top: 0.5rem;
  right: -60px;
  width: 60px;
  height: 2px;
  background-color: blue;
}
/* Tablets and Desktop */
@media (min-width: 680px) {
  #main {
    width: 60%;
    margin: 10px auto;
    padding: 7px;
    font-size: 1.25rem;
  }
  #description  {
    font-size: 1.1rem;
  }
  input, select, textarea {
    font-size: 1.1rem;
  }
}
@media (min-width: 900px) {
  #main {
    width: 50%;
    margin: 10px auto;
    padding: 20px;
  }
}
